$cor-principal: rgba(13, 110, 139, 0.75);
$cor-fontes: #FFF;
$cor-overlay: rgba(24, 39, 51, 0.85);


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vel-menu: 0.75s;
  }

  body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
  }

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.abertura{
    background-color: $cor-principal;
    color: $cor-fontes;
    height: 100vh;
    position: relative;
}

.abertura:before{
    content: '';
    background: url(/image/retro.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.abertura .abertura-dentro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
}

.abertura h1{
    font-size: 2.5rem;
}

.abertura p{
    font-size: 1.3rem;
}

.bto{
    display: inline-block;
    border: none;
    background-color: $cor-principal;
    color: $cor-fontes;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 0.5s ease-in;
}

.bto:hover{
    opacity: 0.7;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    background-color: white;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 22px;
}

.box{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $cor-overlay;
    text-align: center;
}

.box h1{
    color: $cor-fontes;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],.box input[type="password"] {
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid $cor-principal;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: $cor-fontes;
   border-radius: 20px;
   transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus {
    width: 280px;
    border-color: $cor-fontes;

}

.box input[type="submit"]{
    border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid $cor-fontes;
   padding: 14px 40px;   
   outline: none;
   color: $cor-fontes;
   border-radius: 20px;
   transition: 0.25s;
   cursor: pointer;
}

.box input[type="submit"]:hover{
    background: $cor-principal;
}

.box a{
    text-decoration: none;
    color: $cor-fontes;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

  .middle{
      transform: translate(-40%, -10%);
      }

.sm-container{
    text-align: center;
}

.sm-container i{
    color: $cor-principal;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.sm-container i:hover{
    transform: scale(1.20);
}

.sm-menu{
    background: $cor-overlay;
    position: absolute;
    border-radius: 9px;
    transform: translateY(-118%);
    display: none;
}

.sm-menu::before{
    content: "";
    width: 10px;
    height: 10px;
    background: #FFF;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) translateY(2980%) rotate(45deg);
}